<div class="errors">
  <% if flash[:danger] %>
    <i class="material-icons prefix">info</i>
    <%= flash[:danger] %>
  <% end %>
</div>

<%= form_for(:session, url: login_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Login", class: :"waves-effect waves-light btn right" %>
  </div>
  <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
<% end %>
