<div class="container-form">
<!--     <div class="errors">
    <i class="material-icons prefix">info</i>
      <% if flash[:danger] %>
        <%= flash[:danger] %>
      <% end %>
    </div>
 -->


<%= form_for(:session, url: login_path) do |f| %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Login", class: :"waves-effect waves-light btn" %>
  </div>
<% end %>

<p>New user? <%= link_to "Sign up now!", new_user_path %></p>
</div>