<div class="element card" id=<%= element.id %>>
  <% if element.file.file? %>

		<div class="card-image"><%= image_tag element.file.url %>
        <%= image_tag @element.file.url(:thumb)%>
    </div>

    
  <% end %>
  <div class="title"><%= element.title %></div>
  <div class="description"><%= element.description %></div>
  <% if element.element_link %>
    <%= link_to "View More", element.element_link %>
  <% end %>
</div>
