<div class="element card modular" id=<%= element.id %>>
  <i class="material-icons delete">close</i>
  <i class="material-icons done">done</i>
  <% if element.image.file? %>
		<div class="card-image">
      <%= image_tag element.image.url %>
    </div>
  <% end %>
  <div class="title"><%= element.title %></div>
  <div class="description"><%= element.description %></div>
  <% if element.element_link %>
    <%= link_to "View More", element.element_link %>
  <% end %>
</div>
