<div id="<%= element.id %>" class="element-public card modular <%= element.font %> <%= element.width %>">
  <i class="material-icons hide_element">remove_circle</i>

  <!-- image -->
   <% if element.image.file? %>
     <div class="title"><%= element.title %></div>
     <div class="card-image">
       <%= image_tag element.image.url, class: "materialboxed" %>
     </div>
     <% unless element.element_link.empty?%>
       <%= link_to element.element_link, class: 'right element-link', :target => '_blank' do %>
          <i class="material-icons">link</i>
        <% end #link_to %>
     <% end #unless %>
     <div class="description"><%= element.description %></div>
   <% end #if element.image.file? %>

   <!-- document  -->
   <%if element.document.file? %>
     <div class="title"><%= element.title %></div>
     <div class="card-image">
       <%= link_to element.document.url, :target => '_blank' do %>
         <%= image_tag ("documentlogo.png") %>
       <% end #link_to %>
     </div>
     <% unless element.element_link.empty?%>
       <%= link_to element.element_link, class: 'right element-link', :target => '_blank' do %>
         <i class="material-icons">link</i>
       <% end #link_to %>
     <% end #unless %>
     <div class="description"><%= element.description %></div>
   <% end #if element.document.file? %>
 ​
   <!-- ​audio -->
   <% if element.audio.file? %>
     <div class="title"><%= element.title %></div>
     <div class="card-image">
       <%= link_to element.audio.url, :target => '_blank' do %>
         <%= image_tag ("musiclogo.png") %>
       <% end #link_to %>
     </div>
     <% unless element.element_link.empty?%>
       <%= link_to element.element_link, class: 'right element-link', :target => '_blank' do %>
         <i class="material-icons">link</i>
       <% end #link_to%>
     <% end #unless%>
     <div class="description"><%= element.description %></div>
   <% end #if element.audio.file? %>
 ​
   <!-- Just a note -->

   <% if element.element_link.empty? && !element.image? && !element.document? && !element.audio?  %>
     <div class="title"><%= element.title %></div>
 ​    <div class="description"><%= element.description %></div>
   <% end %>
 ​
   <!-- Link -->
   <% if !element.image? && !element.document? && !element.audio? && element.element_link.present?%>
     <div class="title"><%= element.title %></div>
     <div class="card-image">
       <%= image_tag ("internet-globe.png") %>
     </div>
     <div class="description"><%= element.description %></div>
     <% unless element.element_link.empty?%>
       <%= link_to element.element_link, :target => "_blank", class: 'right element-link' do %>
         <i class="material-icons">link</i>
       <% end #link_to %>
     <% end #unless %>
 ​    <div class="description"><%= element.description %></div>
   <% end %>

 </div>
