<%= form_for([@folio, @element], multipart: true, method: "post") do |f| %>

<h5 id="form-title">Add an element to your folio</h5>

  <% if @element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@element.errors.count, "error") %> prohibited this element from being saved:</h2>

      <ul>
      <% @element.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :folio_id, :value => @folio.id, id: "id" %>
  <div class="field">

    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :citation %><br>
    <%= f.text_field :citation %>
  </div>

  <div class="field">
    <%= select_tag(:font, options_for_select([['Sumana', 'sumana'], ['Raleway', 'raleway'], ['Share', 'share'],['Satisfy', 'satisfy'],['Droid Sans Mono', 'droid']])) %>
  </div>


  <div class="field">
    <%= f.label :element_link %>
    <%= f.text_field :element_link %>
  </div>

    <div class="input-field">
      <%= f.label :image %><br>
      <%= f.file_field :image, class: :"input[type='button']"  %>
    </div>

    <div>
      <%= f.label :file %><br>
      <%= f.file_field :file  %>
    </div>


<% #TODO link_to "Delete", { action: :destroy, id: folio_element.id }, method: :delete, data: { confirm: 'Are you sure?' } %>


  <div class="actions">
    <%= f.submit "Submit", class: :"waves-effect waves-light btn"  %>
  </div>
<% end %>
