
<%= form_for([@folio, @element], multipart: true, method: "post") do |f| %>

<h5 id="form-title">Add an element to your folio</h5>
  <%= f.hidden_field :folio_id, :value => @folio.id, id: "id" %>


  <ul class="collapsible" data-collapsible="accordion">

    <li>
      <div class="collapsible-header"><i class="material-icons">library_add</i><p class="icon-label">Title</p></div>
      <div class="collapsible-body">
        <div class="field">
          <%= f.text_field :title %>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">comment</i><p class="icon-label">Text</p></div>
      <div class="collapsible-body">
        <div class="field">
          <%= f.text_area :description %>
        </div>
        <div class="field">
          <%= select_tag(:font, options_for_select([['Sumana', 'sumana'], ['Raleway', 'raleway'], ['Share', 'share'],['Satisfy', 'satisfy'],['Droid Sans Mono', 'droid']])) %>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">invert_colors</i><p class="icon-label">Color</p></div>
      <div class="collapsible-body">
        <div class="input-field">
          <%= select_tag(:font, options_for_select([["Black", 'black-font', {:div=>"color: #000000;"} ], ["Brown", 'brown-font', {:div=>"color: #A52A2A;"} ],
                    ["Red", 'red-font', {:div=>"color: #FF0000;"}],["Orange", 'orange-font', {:div=>"color: #FFA500;"}],
                    ["Yellow", 'yellow-font', {:div=>"color: #FFFF00;"}],["Green", 'green-font', {:div=>"color: #008000;;"}],["Blue", 'blue-font', {:div=>"color: #0000FF;"}],["Indigo", 'indigo-font', {:div=>"color: #4B0082;"}],["Violet", 'violet-font', {:div=>"color: #800080;"}]])) %>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">launch</i><p class="icon-label">Link</p></div>
      <div class="collapsible-body">
        <div class="field">
          <%= f.text_field :element_link %>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">image</i><p class="icon-label">Image</p></div>
      <div class="collapsible-body">
        <div class="input-field">
          <%= f.file_field :image, class: :"input[type='button']"  %>
        </div>
    </li>
    <li>             
      <div class="collapsible-header"><i class="material-icons">photo_size_select_small</i><p class="icon-label">Select image width</p></div>
            <div class="collapsible-body">
              <input name="width" type="radio" id="width1" value="w1" checked />
              <label for="width1">1</label>

              <input name="width" type="radio" id="width2" value="w2" />
              <label for="width2">2</label>
            </div> </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">note_add</i><p class="icon-label">Document</p></div>
      <div class="collapsible-body">
        <div>
          <p>Upload a .pdf, .doc, or docx</p>
          <%= f.file_field :document  %>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">library_music</i><p class="icon-label">Audio</p></div>
      <div class="collapsible-body">
        <div>
          <p>Upload an .mp3 or .mpeg</p>
            <%= f.file_field :audio, label: 'Upload Attachment', class: "hidden" %>
        </div>
      </div>
    </li>
  </ul>
  <!-- <div class="width"><i class="material-icons">photo_size_select_small</i><p class="icon-label">Image</p>
    <p>
      Width
    </p>
    <p>
      <input name="width" type="radio" id="width1" value="w1" checked />
      <label for="width1">1</label>
    </p>
    <p>
      <input name="width" type="radio" id="width2" value="w2" />
      <label for="width2">2</label>
    </p>
  </div> -->
  <div class="actions">
    <%= f.submit "Submit", class: :"waves-effect waves-light btn"  %>
  </div>
<% end %>