<%= form_for([@folio, @element], multipart: true, method: "post") do |f| %>

<h5 id="form-title">Add an element to your folio</h5>

  <% if @element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@element.errors.count, "error") %> prohibited this element from being saved:</h2>

      <ul>
      <% @element.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :folio_id, :value => @folio.id, id: "id" %>

  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">library_add</i>Title</div>
      <div class="collapsible-body">
        <div class="field">
          <%= f.text_field :title %>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">comment</i>Text</div>
      <div class="collapsible-body">
        <div class="field">
          <%= f.text_area :description %>
        </div>
        <div class="field">
          <%= select_tag(:font, options_for_select([['Sumana', 'sumana'], ['Raleway', 'raleway'], ['Share', 'share'],['Satisfy', 'satisfy'],['Droid Sans Mono', 'droid']])) %>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">invert_colors</i>Color</div>
      <div class="collapsible-body">
        <div class="field">
          <%= f.text_area :font %>
        </div>
        <div class="input-field">
          <%= select_tag(:font, options_for_select([["Black", 'black-font', {:div=>"color: #000000;"} ], ["Brown", 'brown-font', {:div=>"color: #A52A2A;"} ],
                    ["Red", 'red-font', {:div=>"color: #FF0000;"}],["Orange", 'orange-font', {:div=>"color: #FFA500;"}],
                    ["Yellow", 'yellow-font', {:div=>"color: #FFFF00;"}],["Green", 'green-font', {:div=>"color: #008000;;"}],["Blue", 'blue-font', {:div=>"color: #0000FF;"}],["Indigo", 'indigo-font', {:div=>"color: #4B0082;"}],["Violet", 'violet-font', {:div=>"color: #800080;"}]])) %>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">launch</i>Link</div>
      <div class="collapsible-body">
        <div class="field">
          <%= f.text_field :element_link %>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">picture_in_picture</i>Image</div>
      <div class="collapsible-body">
        <div class="input-field">
          <%= f.file_field :image, class: :"input[type='button']"  %>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">note_add</i>File</div>
      <div class="collapsible-body">
        <div>
          <%= f.file_field :file  %>
        </div>
      </div>
    </li>
  </ul>

  <div class="actions">
    <%= f.submit "Submit", class: :"waves-effect waves-light btn"  %>
  </div>
<% end %>
