<div class="folio">

  <div class="container clearfix">
  <% #TODO: Title alsways shows up as title of first folio %>
    <div class="top-bar">
      <div class="icons">
        <h1 class="header"><%= @folio.title %></h1>
        <a class="modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Share" href="#modal2"><i class="medium material-icons">send</i></a>
        <%= link_to folio_elements_path(@folio, mood_board: true) do %>
          <i class="medium material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mood Board">view_quilt</i>
        <% end %>
        <a id="add-element" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Toggle Controls" href=#><i class="medium material-icons">create</i></a>
      </div>
    </div>
    <script>REGISTRY = { folio_id: "<%= @folio.id %>" } </script>
    <p id="notice"><%= notice %></p>

    <div class="row">
      <div class="col s12 m9 elements" id="container">
        <% if @elements %>
          <% @elements.each do |element| %>
            <%= render "elements/element", element: element %>
          <% end %>
        <% end %>
      </div>

      <div class="col s12 m3" id="sidebar">

        <%= render "form"  %>

      </div>

      <div id="modal2" class="modal">
        <div class="modal-content">
          <h4>Share a link to this folio!</h4>
          <p>Copy this link to share.</p>
          <div class="input-field col s12">
            <input type="text" name="name" value="http://localhost:3000/folios/<%= @folio.id %>/elements?token=<%= @folio.token %>">
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OKAY</a>
        </div>
    </div>
  </div>
</div>
