<div class="element card">

  <% if element.image%>
    <div class="card-image"><%= link_to element.image.url(:medium) %></div>

  <%elsif element.document%>
    <div class="card-image"><%= image_tag element.document.url(:medium) %></div>

  <% elsif element.audio %>
    <div class="card-image"><%= image_tag element.audio.url(:medium) %></div>

    <div class="card-url"><%= link_to @element.audio.url %></div>
  <% end %>
  <div class="title"><%= element.title %></div>

  <div class="description"><%= element.description %></div>
  <% if element.element_link %>
    <%= link_to "View More", element.element_link %>
  <% end %>
</div>


