    <div class="container">
<p id="notice"><%= notice %></p>
<%#<p><strong>Name:</strong><%= @user.first_name + " " + @user.last_name %></p>
<%#<p><strong>Email:</strong><%= @user.email %></p>
<%#<p><strong>Profile:</strong><%= @user.bio %></p>

<%#<p><strong>Fb link:</strong><%= @user.facebook_link %></p>
<%#<p><strong>Twitter link:</strong><%= @user.twitter_link %></p>
<%#<p><strong>Github link:</strong><%= @user.github_link %></p>
<%#<p><strong>Insta link:</strong><%= @user.instagram_link %></p>
<%#<p><strong>Pin link:</strong><%= @user.pinterest_link %></p>
<%#<p><strong>Other link:</strong><%= @user.link_1 %></p>
<%#<p><strong>Other link:</strong><%= @user.link_2 %></p>
<% #TODO link_to 'Edit', edit_user_path(@user), clss: :"waves-effect waves-light btn back" %>
<% #TODO link_to 'Back', users_path, class: :"waves-effect waves-light btn back" %>
</div>
