<!DOCTYPE html>
<html>
<head>
  <title>Brightfolio</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="welcome">
  <% if current_user %>
    Welcome <strong><%= current_user.first_name %></strong>!
    <%= link_to "Sign out", logout_path, method: "delete" %>

  <% else %>
    <%= link_to "Sign in with Pinterest", "/auth/pinterest", id: "sign_in" %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

<header>
    <nav class="menu teal" role="navigation">
    <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to 'Folio', folios_path %></li>
      <li class="divider"></li>
      <% if current_user %>

      <% else %>
        <li><%= link_to "Login", login_path, id: "login" %></li>
        <li><%= link_to "Sign in with Pinterest", "/auth/pinterest", id: "sign_in" %></li>
        <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
      <% end %>
    </ul>
    <nav>
      <div class="nav-wrapper"><a id="logo-container" href="/" class="brand-logo"><%= image_tag("logo.png") %></a>
        <ul class="right">
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">list</i></a></li>
          <!-- <li><%= image_tag("logo.png") %></li> -->
        </ul>
      </div>
    </nav>
  </header>



<%= yield %>

</body>
</html>
