<div class="folio">

  <div class="container clearfix">
  <% #TODO: Title alsways shows up as title of first folio %>
    <h1 class="header"><%= @folio.title %></h1>
    <script>REGISTRY = { folio_id: "<%= @folio.id %>" } </script>
    <p id="notice"><%= notice %></p>
  <!-- <button id="view-toggle" type="button" class="waves-effect waves-light btn right clearfix">Toggle Controls</button> -->
  <!--  <button id="change-font" type="button" class="waves-effect waves-light btn right clearfix">Change Font</button> -->
   <!-- Dropdown Trigger -->
  <a class='dropdown-button btn' href='#' data-activates='dropdown2'>Change Font</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown2' class='dropdown-content'>
    <li><a class='serif' href="#">Sumana</a></li>
    <li><a class='sans-serif'<a href="#">Raleway</a></li>
    <!-- <li class="divider"></li> -->
    <li><a class='display' href="#">Share</a></li>
    <li><a class='handwriting' href="#">Satisfy</a></li>
    <li><a class='monospace' href="#">Droid Sans Mono</a></li>
  </ul>
    <button id="add-element" type="button" class="waves-effect waves-light btn right clearfix">Add Element</button>

    <div class="row">
      <div class="col s12 m12 elements" id="container">
        <% if @elements %>
          <% @elements.each do |element| %>
            <%= render "elements/element", element: element %>
          <% end %>
        <% end %>
      </div>
      <!-- <i class="material-icons">grid on</i> -->
      <!-- <div class="col s12 m4" id="sidebar"> -->
      <div class="col s12 m3" id="sidebar">
        <%= render "elements/form"  %>
        <button id='delete'>Delete Element</button>
      </div>
    </div>
  </div>
<!-- <div id="tabs" class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">Test 1</a></li>
        <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
        <li class="tab col s3"><a href="#test3">Disabled Tab</a></li>
        <li class="tab col s3"><a href="#test4">Test 4</a></li>
      </ul>
    </div>
    <div id="tab-content">
      <div id="test1" class="col s12">Test 1</div>
      <div id="test2" class="col s12">Test 2</div>
      <div id="test3" class="col s12">Test 3</div>
      <div id="test4" class="col s12">Test 4</div>
    </div>
  </div> -->
</div>
